body{
    /*Faz com que os objetos de body sejam redimensionados a altura automaticamente de acordo com a view port*/
        height:98vh;

        /*shorthand background
        color ->  image -> position -> /[size] -> repeat->    attachment
        */

        background: black url("https://i.imgur.com/cKKMq5v.jpg") center center /cover repeat-y scroll;
        /*scroll - Fundo rola junto com o conteudo ao arrastar com o scroll do mpuse
        fixed- Fundo fica fixo junto com o conteudo ao arrastar com o scroll do mpuse
        */
        
        
    }
    main{
        background-color:white;
        max-width: 700px;
        margin: auto;
        padding:10px;
        border-radius: 15px;
        border: 1px solid darkblue;
    }
    
    