body {
    padding: 0;
    background-color: rgb(24, 24, 24);
}
h1{
    text-align: center; color: white;
}
p{
    text-align: center; color: white;
}
img.seta{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    color: white;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}
#img {
    align-items: center;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    column-count: 2;
}

#video{
    width: 32em;
    margin-left: auto;
    margin-right: auto;
}