#conteudo {
    background-color: lightcoral;
    height: auto;  
    width: 100%;            
    padding: 5px;
    display: flex;
    flex-direction: row; /* disponibila o conteinner em forma de linha*/
    justify-content: space-between;  /*Alinhamento horizontal, ou seja, dispensa o "margin: auto". Nesse caso os quadrados serão distribuídos a partir do centro da div declarada com os elementos para as extremidades*/
    /*align-items: center;*/ /*Alinhamento vertical*/
}

.times {
    width: 150px; 
    height: 150px;  
    margin: 10px; 
    color: #000; 
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;   
}


.times {
    width: 150px; 
    height: 150px;  
    margin: 10px; 
    color: #000; 
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;   
}