@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    height: 98vh;
    
}

header{
    margin: opx;
    height:300px;
    background-color:black;
}

div#titulo{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
}

div#subtitulo{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}
h1{
 color:white;
 font-family: 'Passion one', sans-serif;
 font-weight: bold;
 font-size: 7em;
 font-style: normal;
 
}

h3{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
main{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

main > div > p{
    padding-left: 20px;
    font-family: 'Sriracha', cursive;
    font-size: 3em;
    
}
div#paragrafo2{
background: black url(img/background001.jpg) center center /cover no-repeat fixed;
}
div#paragrafo2 > p{
background-color: black;
}

footer{
    background-color:black;
    color: white;
    margin:0px;
}

