body{
    /*Faz com que os objetos de body sejam redimensionados a altura automaticamente de acordo com a view port*/
        height:98vh;
        background-color:black;
        background-image: url('https://i.imgur.com/cKKMq5v.jpg');
        background-repeat:no-repeat;
        background-position: center top;
        background-size: 100% 100%;/*amplia e diminui a imagem conforme o tamanho da tela, entretando, distorce a imagem*/
    }
    main{
        background-color:white;
        width:400px;
        margin: auto;
        padding:10px;
        border-radius: 15px;
        border: 1px solid darkblue;
    }
    
    
    