#containner{
    height:96vh;
    position: relative; /*por padrao sempre a caixa é relativa*/
    background-color:purple;
    padding: 10px;
    background-image:url('https://i.imgur.com/TZlyqpv.png');
    background-size: 100% 100%; /*widht, height*/
    
}

#conteúdo{
    position: absolute ;/* Deixo o objeto solto dentro do conteinner, com isso 
    posso configuras as propriedades left e top */
    background-color:yellow;
    background-image:url('https://i.imgur.com/TZlyqpv.png');
    display: flex; /*Possui diversas funções (procurem pela documentação), uma delas é habilitar o manejamento do conteúdo*/
    justify-content: center; /*Alinhamento horizontal, ou seja, dispensa o "margin: auto"*/
    align-items: center; /*Alinhamento vertical*/
}